<div class="ruby-container">

  <div class="triangle three"></div>
  <div class="triangle four"></div>
  <div class="triangle five"></div>
  <div class="triangle six"></div>

  <div class="mid-oval oval">
    <div class="square one"></div>
    <div class="square two"></div>
    <div class="square three"></div>
    <div class="triangle two"></div>
    <div class="triangle three"></div>
    <div class="triangle four"></div>
    <div class="triangle five"></div>
    <div class="triangle eight"></div>
    <div class="triangle nine"></div>
    <div class="triangle ten"></div>
    <div class="triangle eleven"></div>
  </div>

  <div class="triangle one"></div>
  <div class="triangle two"></div>

  <div class="top-oval oval"></div>

</div>
